/* Reset de estilos */
body, h1, p, ul, li, a, input, textarea, form {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

/* Estilos para los elementos del menú de navegación */
nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Arial', sans-serif; 
    font-size: 18px; 
}

nav ul li a:hover {
    background-color: #ff9900;
    color: #fff;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

/* Estilos para los elementos del menú de navegación */
nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'YourFont', sans-serif; /* Cambia 'YourFont' por la fuente que desees */
    font-size: 18px; /* Cambia el tamaño del texto */
}

nav ul li a:hover {
    background-color: #ff9900;
    color: #fff;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: 'Helvetica', sans-serif;
    color: #333;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.4;
    font-family: 'Times New Roman', serif;
    color: #555;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.btn-reserva {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff9900;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 0 auto;
    display: block;
    width: fit-content;
}

/* Estilos para los elementos especiales */
.especiales {
    margin-top: 30px;
}

.especial {
    display: inline-block;
    margin: 0 20px;
    text-align: left;
}

.especial img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.especial h3 {
    font-size: 24px;
    margin: 10px 0;
    font-family: 'Verdana', sans-serif;
    color: #333;
}

.especial p {
    font-size: 16px;
    margin: 10px 0;
    font-family: 'Georgia', serif;
    color: #555;
}

