<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo.css">
    <title> Menu-Restaurante Soriana </title>
</head>
<body>
    <header>
        <ul>
            <liv> <a href="index.html">Inicio</a></liv>
            <liv><a href="menu.html">Menu</a></liv>
            <liv><a href="reservas.html">Reservas</a></liv>
            <liv><a href="contacto.html">Contactenos</a></liv>
        </ul>


    </header>
    <main>
        <h1> Menu del dia</h1>
        <section class="menu">
            <img src="https://s3.abcstatics.com/media/gurmesevilla/2012/01/comida-rapida-casera.jpg" alt="Plato 1">
            <h2>Plato #1</h2>
            <span class="Precio">$6.50</span>

         </div>

         <div class="menu-item">
            <img src="https://www.clara.es/medio/2021/01/19/recetas-de-comida_ab72572a_1200x630.jpg" alt="Plato 2">
            <h2>Plato #2</h2>
            <span class="Precio">$5.50</span>

         </div>
         <div class="menu-item">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStztIG-HyOCNYQET9o46whPHh7YhaGgHrSaZyLKye0tqwavAAIaOAUmijT3WJIwlB3-6M&usqp=CAU" alt="Plato 3">
            <h2>Plato #3</h2>
            <span class="Precio">$7.50</span>

         </div>

         <div class="menu-item">
            <img src="https://www.clara.es/medio/2023/01/12/recetas-saludables_32d84f1c_1200x630.jpg" alt="Plato 4">
            <h2>Plato #4</h2>
            <span class="Precio">$5.50</span>

         </div>

         <div class="menu-item">
            <img src="https://www.elsoldemexico.com.mx/doble-via/salud/qvlv5r-comida-rapida/ALTERNATES/LANDSCAPE_768/comida%20r%C3%A1pida" alt="Plato 5">
            <h2>Plato #5</h2>
            <span class="Precio">$7.50</span>

         </div>
        </section>
        
    </main>

</body>
